/*
    FILE NAME: style/style.css
    WRITTEN BY: Ingrid Skar
    WHEN: November 2016
    PURPOSE: Stylesheet for all pages
*/

html,body {
  height: 100%;
  margin: 0;
}

/*CSS for menu-bar*/
.main-nav ul {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #9E9E9E;
  width: 100%;
  height: 35px;
  overflow: hidden;
    
}

.main-nav a {
  display: block;
  width: 100px;
  padding: 9px;
  text-decoration: none;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.main-nav a:hover, .main-nav a:active {
  background-color: #666666;
  color: #26FC00;
}

.main-nav li {
  display: inline;
  float: left;
  text-align: center;
  height: 35px;
}

.first-nav-item {
  position: relative;
  padding-left: 8%;
}

.last-nav-item {
  position: relative;
  padding-right: 10%
}

.main-nav ul li a {
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.full-nav-right ul {
  float: left;
}

.full-nav-right li {
  float: left;
  display: inline;
}

/*CSS for mouse over menu*/

#products {
  position: absolute;
  visibility: hidden;
  width: 118px;
  text-decoration: none;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  height: auto;
}

#products li {
  display: block;
  width: 100%;
  height: 100%;
}

#products a {
  display: block;
  width: auto;
  padding: 9px;
  text-decoration: none;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

#products a:hover {
  background-color: #666666;
  color: #26FC00;
}

/*CSS for images*/

.logo img {
  width: 240px;
  height: 135px;
  padding-left: 10%;
}

#slideShow {
  display: block;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 925px;
  height: 245px;
}

.section-image {
  margin-top: 10px;
  width: 215px;
  height: 182px;
}

#produktBilder{
  height: 182px;
  position: relative;
}

#bilde2{
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20%;
}

#bilde1{
  position: absolute;
  top: 0;
  padding-left: 20%;
}

/*CSS for products*/

#produkter{
  padding-left: 12%;
  padding-bottom: 30px;
  display: inline-block;
}

#produkt2{
  display: block;
  width: 45%;
  float: left;
  margin-left: 20px;
}

#produkt1{
  margin-right: 10px;
  display: block;
  width: 45%;
  margin-left: 10px;
  float: left;
}

/*CSS for text*/

h2 {
    font-family: "Lucida Console", sans-serif, "Arial";
    text-transform: uppercase;
    color: #26FC00;
    font-size: 34px;
    font-weight: 100;
    padding-top: 5%;
    padding-left: 12%;
}

.section-title {
    font-family: "Lucida Console", sans-serif, "Arial";
    text-transform: uppercase;
    color: #26FC00;
    font-size: 34px;
    font-weight: 100;
    padding-top: 1.5%;
    padding-left: 12%;
}

.news-text {
  font-family: "Lucida Console", sans-serif;
  text-transform: uppercase;
  color: grey;
  font-size: 20px;
  padding-left: 12%;
  margin-top: 50px;
}

.section-text {
  color: grey;
}

.section-image-text a {
  text-decoration: none;
  color: grey;
}

.section-products-back a {
  text-decoration: none;
  padding-left: 12%;
  padding-top: 
  color: grey;
}

.section-price {
  color: grey;
}

.section-choose-number {
  color: grey;
}

.section-about {
  padding-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
  color: grey;
}

.form {
  padding-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
}

td {
  color: grey;
}

/*Footer*/

#footer {
	background-color: #9E9E9E;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 16px sans-serif;

	padding: 25px 40px;
	margin-top: 0px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: 100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.footer-left p {
    color: white;
    font-size: 14px;
    margin: 0;
}

#footer p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 10px;
    padding: 0;
}

#footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

#footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

#footer .footer-right a {
    display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

#footer .footer

@media (max-width: 600px) {

	#footer .footer-left,
	#footer .footer-right {
		text-align: center;
	}

	#footer .footer-right {
		float: none;
		margin: 0 auto 20px;
	}

	#footer .footer-left p.footer-links{
		line-height: 1.8;
	}


#footer .footer

@media (max-width: 600px) {

  #footer .footer-left,
  #footer .footer-right {
    text-align: center;
  }

  #footer .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  #footer .footer-left p.footer-links{
    line-height: 1.8;
  }
}