html,body {
    height: 100%;
    min-width: 800px;
    margin: 0;
}

#wrapper {
    border: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 99%;
}

#content{
    height: 100%;
}

.logo img {
    width: 240px;
    height: 135px;
    padding-left: 10%;
}

#slideShow {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 925px;
    height: 245px;
    margin-bottom: 30px;
}
/*CSS for menu-bar*/

.main-nav ul {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #9E9E9E;
    width: 100%;
    height: 35px;
    overflow: hidden;
    
}

.main-nav a {
    display: block;
    width: 100px;
    padding: 9px;
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

.main-nav a:hover, .main-nav a:active {
    background-color: #666666;
    color: #26FC00;
}

.main-nav li {
    display: inline;
    float: left;
    text-align: center;
    height: 35px;
}

.first-nav-item {
  position: relative;
  padding-left: 8%;
}

.last-nav-item {
  position: relative;
  padding-right: 10%
}

.main-nav ul li a {
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.full-nav-right ul {
    float: left;
}

.full-nav-right li {
    float: left;
    display: inline;
}

.active-nav-item {
    background-color: #666666;
    color: #26FC00;
}
/*CSS for mouse over menu*/

 #products
  {
   position: absolute;
   visibility: hidden;
   width: 118px;
   text-decoration: none;
   color: white;
   font-family: "Arial", sans-serif;
   font-size: 14px;
   height: auto;
}

#products a
  {
   display: block;
   width: auto;
   padding: 9px;
   text-decoration: none;
   color: white;
   font-family: "Arial", sans-serif;
   font-size: 14px;
}

#products a:hover
{
    background-color: #666666;
    color: #26FC00;
}

/*CSS for images*/

.section-image {
  margin-top: 10px;
  width: 215px;
  height: 182px;
}

#produktBilder{
  height: 182px;
  position: relative;
}
#bilde2{
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20%;
}
#bilde1{
  position: absolute;
  top: 0;
  padding-left: 20%;
}

/*CSS for produkter*/

#produkter{
  padding-left: 12%;
  padding-bottom: 30px;
  display: inline-block;

}
#produkt2{
  display: block;
  width: 45%;
  float: left;
  margin-left: 20px;
}
#produkt1{
  margin-right: 10px;
  display: block;
  width: 45%;
  margin-left: 10px;
  float: left;
}

/*CSS for text*/

h2 {
    font-family: "Lucida Console", sans-serif;
    text-transform: uppercase;
    color: #26FC00;
    font-size: 34px;
    font-weight: 100;
    padding-top: 5%;
    padding-left: 12%;
}

.news-text {
  font-family: "Lucida Console", sans-serif;
  text-transform: uppercase;
  color: grey;
  font-size: 20px;
  padding-left: 12%;
}

.section-text {
  color: grey;
}

.section-image-text a {
  text-decoration: none;
  color: grey;
}

.section-products-back a {
  text-decoration: none;
  padding-left: 12%;
  color: grey;
}

.section-price {
  color: grey;
}

.section-choose-number {
  color: grey;
}

.section-about {
  padding-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
  color: grey;
}

.form {
  padding-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
}

td {
  color: grey;
}

/* FOOTER */

#footer {

    text-align: center;
    font-family: "Arial", sans-serif;
    padding-top: 7px;
    color: white;
    background-color: #9E9E9E;
    height: 32px;
    width: 100%;
    font-size: 12px;
    bottom: 0;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: 100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

