/*
    FILE NAME: style/style.css
    WRITTEN BY: Ingrid Skar
    WHEN: November 2016
    PURPOSE: Stylesheet for all pages
*/

html,body {
  height: 100%;
  margin: 0;
}

/*CSS for menu-bar*/
.main-nav ul {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #9E9E9E;
  width: 100%;
  height: 40px;
  overflow: hidden;
    
}

.main-nav a {
  display: block;
  width: 100px;
  padding: 9px;
  text-decoration: none;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.main-nav a:hover, .main-nav a:active {
  background-color: #666666;
  color: #26FC00;
}

.main-nav li {
  display: inline;
  float: left;
  text-align: center;
  height: 35px;
}

.first-nav-item {
  position: relative;
  padding-left: 8%;
}

.last-nav-item {
  position: relative;
  padding-right: 10%
}

.main-nav ul li a {
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.full-nav-right ul {
  float: left;
}

.full-nav-right li {
  float: left;
  display: inline;
}

/*CSS for mouse over menu*/

#products {
  position: absolute;
  visibility: hidden;
  width: 118px;
  text-decoration: none;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  height: auto;
}

#products li {
  display: block;
  width: 100%;
  height: 100%;
}

#products a {
  display: block;
  width: auto;
  padding: 9px;
  text-decoration: none;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
}

#products a:hover {
  background-color: #666666;
  color: #26FC00;
}

/*CSS for images*/

.logo img {
  width: 240px;
  height: 135px;
  padding-left: 10%;
}

#slideShow {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 925px;
  height: 245px;
}

.section-image {
  margin-top: 10px;
  width: 215px;
  height: 182px;
}

.main-section-image { 
  margin-top: 10px;
  width: 362px;     
  height: 318px;
  top: 0;
  padding-right: 20%;
} 

/*CSS for products*/

#produkter{
  margin-right: 20%;  
  margin-left: 20%;
  padding-bottom: 30px;
  display: inline-block;
}

#produkt2{
  display: block;
  width: 45%;
  float: left;
  margin-left: 20px;
}

#produkt1{
  margin-right: 10px;
  display: block;
  width: 45%;
  margin-left: 10px;
  float: left;
}

/*CSS for text*/

h2 {
    font-family: "Helvetica", sans-serif, "Arial";
    text-transform: uppercase;
    color: #26FC00;
    font-size: 40px;
    font-weight: 100;
    padding-top: 5%;
    margin-right: 20%; 
    margin-left: 20%;
}

.section-title {
    font-family: "Helvetica", sans-serif, "Arial";
    text-transform: uppercase;
    color: #26FC00;
    font-size: 34px;
    font-weight: 100;
    padding-top: 1.5%;
    margin-right: 20%;  
    margin-left: 20%;
}

.news-text {
  font-family: "Helvetica", sans-serif, "Arial";
  text-transform: uppercase;
  color: grey;
  font-size: 20px;
  margin-right: 20%;  
  margin-left: 20%;
  margin-top: 50px;
}

.section-text {
  color: grey;
  font-size: 18px;
}

.section-image-text a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.section-products-back a {
  text-decoration: none;
  padding-left: 12%;
  color: grey;
  font-size: 18px;
}

.section-price {
  color: grey;
  font-size: 18px;
}

.section-choose-number {
  color: grey;
  font-size: 18px;
}

.section-about {
  margin-right: 20%;
  margin-left: 20%;
  font-size: 18px;
  color: grey;
}

.info-text{
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  color:grey;
}

.form {
  font-size: 18px;
  padding-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
}

td {
  color: grey;
  font-size: 18px;
}

/*Footer*/

.footer{
	background-color: #9E9E9E;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer .footer-left{
	width: 40%;
}

.footer h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* Footer links */

.footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #818181;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  white;
	text-decoration: none;;
}


/* Footer Right */

.footer .footer-right{
	width: 20%;
}

.footer .footer-company-about{
	line-height: 20px;
	color:  white;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons{
	margin-top: 25px;
}

.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #818181;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer{
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer-center i{
		margin-left: 0;
	}

}
